<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Footer -->
    <div class="container-fluid bg-dark pt-5 mt-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col">
                    <p class="text-white bold">Internships by places</p>
                    <ul>
                        <li class="text-white">Internship in India</li>
                        <li class="text-white">Internship in Delhi</li>
                        <li class="text-white">Internship in Bangalore</li>
                        <li class="text-white">Internship in Hyderabad</li>
                        <li class="text-white">Internship in Mumbai</li>
                        <li class="text-white">Virtual Internships</li>
                        <li class="text-white">View all Internships</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="text-white bold">Internship by Stream</p>
                    <ul>
                        <li class="text-white">Computer Science Internship</li>
                        <li class="text-white">Electronics Internship</li>
                        <li class="text-white">Mechanical Internship</li>
                        <li class="text-white">Civil Internship</li>
                        <li class="text-white">Summer Research Fellowship</li>
                        <li class="text-white">Campus Ambassador Program</li>
                        <li class="text-white">View all Internships</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="text-white bold">Jobs by Places</p>
                    <ul>
                        <li class="text-white">Jobs in Delhi</li>
                        <li class="text-white">Jobs in Bangalore</li>
                        <li class="text-white">Jobs in Mumbai</li>
                        <li class="text-white">Jobs in Jaipur</li>
                        <li class="text-white">Jobs in Chennai</li>
                        <li class="text-white">Jobs in Hyderabad</li>
                        <li class="text-white">View all Jobs</li>
                    </ul>
                </div>

                <div class="col">
                    <p class="text-white bold">Jobs by Stream</p>
                    <ul>
                        <li class="text-white">Marketing jobs</li>
                        <li class="text-white">Content writing job</li>
                        <li class="text-white">Web development jobs</li>
                        <li class="text-white">Computer Science jobs</li>
                        <li class="text-white">Data Science jobs</li>
                        <li class="text-white">Graphic Design jobs</li>
                        <li class="text-white">View all Jobs</li>
                    </ul>
                </div>

                <div class="col">
                    <p class="text-white bold">Placement Guarantee Courses</p>
                    <ul>
                        <li class="text-white">Full Stack Development</li>
                        <li class="text-white">Data Science</li>
                        <li class="text-white">Human Resource Management</li>
                        <li class="text-white">Digital Marketing</li>
                        <li class="text-white">Product Management</li>
                        <li class="text-white">Supply Chain Logistics</li>
                        <li class="text-white">Certification Courses OFFER</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <hr class="text-white">
      
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white bold">About us</p>
                    <ul>
                        <li class="text-white"> We're hiring</li>
                        <li class="text-white">Hire interns for your company</li>
                        <li class="text-white">Post a Job</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="text-white bold">Team Diary</p>
                    <ul>
                        <li class="text-white">Blog</li>
                        <li class="text-white">Our Services</li>
                        <li class="text-white">Free Job Alerts</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="text-white bold">Terms & Conditions</p>
                    <ul>
                        <li class="text-white">Privacy</li>
                        <li class="text-white">Contact us</li>
                    </ul>
                </div>
    
                <div class="col">
                    <p class="text-white bold">Sitemap</p>
                    <ul>
                        <li class="text-white">College TPO Registration</li>
                        <li class="text-white">List of Companines</li>
                    </ul>
                </div>

            </div>
        </div>
    
    </div>
</body>
</html>