
.navbar {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    font-weight: bold;
    color: #007bff;
}
.nav-link {
    color: black;
}
.dropdown-menu {
    width: 250px;
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
}
.search-bar {
    max-width: 300px;
}

/* slider
 */
.category-tabs .nav-link {
    border: none;
    background: #f8f9fa;
    color: #000;
}
.category-tabs .nav-link.active {
    background: #007bff;
    color: #fff;
}


ul li{
  list-style: none !important;
}

.testimonial {
    margin: 0 20px 40px;
  }
  .testimonial .testimonial-content {
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    background: #f6ebeb;
    position: relative;
  }
  .testimonial .testimonial-content:before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    border-top: 15px solid #718076;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .testimonial .testimonial-content:after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 0;
    border-top: 15px solid #718076;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .testimonial-content .testimonial-icon {
    width: 50px;
    height: 45px;
    background: #364886;
    text-align: center;
    font-size: 22px;
    color: #000000;
    line-height: 42px;
    position: absolute;
    top: 37px;
    left: -19px;
  }
  .testimonial-content .testimonial-icon:before {
    content: "";
    border-bottom: 16px solid #051e0d;
    border-left: 18px solid transparent;
    position: absolute;
    top: -16px;
    left: 1px;
  }
  .testimonial .description {
    font-size: 15px;
    font-style: italic;
    color: #8a8a8a;
    line-height: 23px;
    margin: 0;
  }
  .testimonial .title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
  }
  .testimonial .post {
    display: block;
    font-size: 14px;
    color: #0c4bca;
  }
  .owl-theme .owl-controls {
    margin-top: 20px;
  }
  .owl-theme .owl-controls .owl-page span {
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
  }
  .owl-theme .owl-controls .owl-page.active span,
  */ .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #0cca4a;
  }
  